{% load static %}
<!DOCTYPE html>
<html>
<head>

<title>Campaigns</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>

<a href="/" class="back">← Back</a>

<h1 style="text-align:center">Campaigns</h1>

<div class="cards">

<div class="card">
<h3>Brand Awareness</h3>
<p>Promote products to large audiences.</p>
</div>

<div class="card">
<h3>Product Launch</h3>
<p>Influencers introduce new products.</p>
</div>

<div class="card">
<h3>Social Impact</h3>
<p>Campaigns supporting social causes.</p>
</div>

</div>

</body>
</html>